.contenedor{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../assets/fondo.png");
    background-size:cover;
    .card {
        border: 1px solid black;
        text-align: center;
        max-width: 80%;
    }
}
p-speedDial {
    z-index: 99;
    position: fixed;
    top: 100px;
    left: 10px;
}
@media screen and (max-width: 600px){
    .fechas {
        display: flex;
        flex-wrap: wrap;
        mat-form-field, p-calendar, p-dropdown {
            width: 100%;
        }
    }
    .fichador {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        mat-form-field, input {
            width: 100%;
            border: 1px solid rgb(184, 181, 181);
        }
    }
}
@media screen and (min-width: 600px){
    .fechas {
        display: flex;
        flex-wrap: nowrap;
        mat-form-field, p-calendar, p-dropdown {
            width: 100%;
        }
    }
    .fichador {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        mat-form-field, input {
            width: 100%;
            border: 1px solid rgb(184, 181, 181);
        }
    }
}

.spacingComponents {
    margin-right: 2%;
}